.textfield {
    background-color: white;
    border-radius: 5px;
    opacity: 100%;
}

.labels {
    color: #ffca28;
    font-family: monospace;
    text-align: flex-end;
    font-size: large;
    text-shadow: black 5px 5px 3px;
    padding: 1.5rem;
}
.flex {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: auto;
  }
  .button {
margin-top: 2px;
 }

  .form {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(109, 109, 109);
  }

  .success {
    display: flex;
    justify-content: flex-end;
  }

.textfield {
  background-color: rgb(255, 255, 255);
  opacity: 100;
}